NODE_ENV=development
PORT=3000

NMM_WEB_ORIGIN=http://localhost:5173
NMM_AUTH_SECRET=change-me-change-me-change-me-change-me
NMM_AUTH_BASE_URL=http://localhost:3000/api/auth

NMM_POSTGRES_PORT=55432
NMM_DB_HOST=postgres
NMM_DB_PORT=5432
NMM_DB_USERNAME=namanmu
NMM_DB_PASSWORD=change-me
NMM_DB_DATABASE=namanmu
NMM_DB_SYNCHRONIZE=false
NMM_DB_LOGGING=false
