NODE_ENV=development
PORT=3000

NMM_API_ORIGIN=http://localhost:3000
NMM_WEB_ORIGIN=http://localhost:5173

NMM_DB_HOST=postgres
NMM_DB_PORT=5432
NMM_DB_USERNAME=namanmu
NMM_DB_PASSWORD=change-me
NMM_DB_DATABASE=namanmu
NMM_DB_LOGGING=false
NMM_DB_MANUAL_INITIALIZATION=false
NMM_POSTGRES_PORT=5432

NMM_AUTH_SECRET=change-me
NMM_AUTH_SIGNUP_REDIRECT_PATH=/auth/complete-signup
NMM_AUTH_ERROR_REDIRECT_PATH=/auth/error
NMM_AUTH_COOKIE_SECURE=false

NMM_OAUTH_GITHUB_CLIENT_ID=change-me
NMM_OAUTH_GITHUB_CLIENT_SECRET=change-me
